body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background-color: hsl(240, 78%, 98%);
    background-image: url('./images/bg-bottom.svg'), url('./images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-size: 20%;
    height: 100vh;   
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 30px;
    text-align: center;
    color: hsl(233, 13%, 49%);
}

.switch {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.toggle {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 50px;
    height: 30px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.toggle::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.3s;
}

#check:checked +.toggle::before {
    transform: translateX(20px);
}

#check {
    display: none;
}

span {
    margin: 0 25px;
    align-self: center;
    color: hsl(234, 14%, 74%);
}

.cards {
    margin-top: 75px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h4 {
    color: hsl(233, 13%, 49%);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card1 {
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: -19px 12px 94px -10px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -19px 12px 94px -10px rgba(0, 0, 0, 0.27);
    box-shadow: -19px 12px 94px -10px rgba(0, 0, 0, 0.27);
}

#card3 {
    border-radius: 0 10px 10px 0;
    -webkit-box-shadow: 29px 12px 86px -24px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 29px 12px 86px -24px rgba(0, 0, 0, 0.27);
    box-shadow: 29px 12px 86px -24px rgba(0, 0, 0, 0.27);
}

.white {
    padding: 0 10px 15px 10px;
    width: 20%;
    background-color: white;
}

.purple {   
    width: 25%;
    padding-bottom: 40px;
    border-radius: 10px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.pricing {
    display: flex;
    align-items: center;
}

.pricing p {
    margin: 0;
    color: hsl(232, 13%, 33%);
    font-size: 2rem;
}

p+span {
    margin: 10px;
    font-size: 3.7rem;
    color: hsl(232, 13%, 33%);
}

hr {
    width: 80%;
}

.greyline {
    border: none;
    margin: 5px 0 5px 0;
    background-color: hsl(234, 14%, 74%);
    height: 1px;
}

.whiteline {
    border: none;
    margin: 5px 0 5px 0;
    background-color: #fff;
    height: 1px;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(233, 13%, 49%);
    width: 100%;
    font-size: 0.9rem;
    padding-top: 20px;
}

button {
    margin: 30px;
    width: 80%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    font-weight: bolder;
    cursor: pointer;
}

.purple-btn {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
}

.purple-btn:hover {
    color:  hsl(237, 63%, 64%);
    background-image: none;
    background-color: #fff;
    border: 1px solid;
    border-color: hsl(237, 63%, 64%);
}

#card2 * {
    color: #fff;
}

#white-btn {
    color: hsl(237, 63%, 64%);
    background-color: #fff;
}

#white-btn:hover {
    background-color:  hsl(236, 60%, 66%);
    border: 1px solid;
    border-color: #fff;
    color: #fff;
}

#card2 h4 {
    margin-top: 48px;
}

#card2 {
    -webkit-box-shadow: 0px 57px 119px -7px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 57px 119px -7px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 57px 119px -7px rgba(0, 0, 0, 0.27);
}